body
{
    font-family: 'Roboto', sans-serif;
}

div
{   width: 1265px;
    height: 494px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

p
{
    color: #1d364f;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin:16px 0 ;
}

header
{
    position: relative;
    z-index: -1;
   
}

header > button
{
    
    position: absolute;
    left: 24px;
    bottom: 27px;
    background-color: transparent;
    color: white;
    padding:10px 20px ;
    border-radius: 9px;
    border: 3px solid white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    
}

span
{
    font-size:25px; 
    position: relative;
    top:4px;
}
 
section
{
    background-color: #3194d8;
    color: white;
    height: 81px;
    width: 1265px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
}

h3
{
    margin: 0;
    display: inline-block;
    padding: 26px 21px;
}

section > button
{
    background-color: #42a1dc;
    border:1px solid #2b84bf;
    border-radius: 20px;
    padding:7px 25px ;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 30px;
    top:25px;
    -webkit-box-shadow: 0px 1px 19px -2px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 1px 19px -2px rgba(0,0,0,0.38);
    box-shadow: 0px 1px 19px -2px rgba(0,0,0,0.38);
}
